:root {
    --border: rgba(70, 70, 70, 0.11);
    --baseBgColor: #EAEDED;
    --bgColor: #ffffff;
    --price: #0F1111;

    --font-size-des: 12px;
    --aColor: #3d3dcb;
    --placeholderColor: #b9b9b9;

    --smoothT: 200ms ease-in-out;

    --gap: 10px;
    --border-radius: 5px;
    --transition: 200ms ease-in-out;
    --max-width: 1366px !important;

    --swatch_1: #141516;
    --swatch_2: #fefefe;
    --swatch_3: #a3a3a4;
    --swatch_4: #e0e0e0;
    --swatch_5: #cfcfd0;
    --swatch_6: #dd101d;

    --swatch_7: #1f2021;
    --swatch_8: #d0d0d0;
    --swatch_9: #a5a5a5;
    --swatch_10: #948775;
    --swatch_11: #ecb72d;
    --swatch_12: #d0a22c;


}

$table-cell-vertical-align: middle;

span {
    text-rendering: optimizeLegibility !important;
}