@use '../../../../../../test/src/index';

.product-description-container {
    @include index.displayFlex(row, flex-start, center);

    .cart-product-img {
        cursor: pointer;
        height: 100px;
        width: 80px;
        img {
            height: 100%;
            width: 100%;
            //border-radius: 5px;
        }
    }

    .cart-product-description {
        @include index.displayFlex(column, null, null);
        padding-left: 10px;

        p {
            padding: 0 10px 0 10px;
            margin-bottom: 2px;
            font-size: 14px;
            text-transform: capitalize;
        }
    }
}

.add-sub-container {
    @include index.displayFlex(row, center, center);
    gap: 5px;

    .sub, .add {
        width: 40px;
        height: 33px;
        //border: 1px solid black;
        background: #dcdcdc;
        padding: 6px 2px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background: #9f9f9f;
        }
    }

    .add-sub-input {
        width: 50px;
        height: 33px;
        border: 1px solid transparent;
        text-align: center;
        background: #ececec;

        &:focus {
            border: 1px solid var(--swatch_11);
            background: transparent;
        }
    }
}

tr {
    svg {
        height: 25px;
        width: 25px;
        margin: 0 5px 0 5px;
        cursor: pointer;
        color: #999;
    }
}

.add-to-cart-icon:hover {color: #28a745;}
.delete-icon:hover {color: var(--swatch_6);}
.wish-list-icon:hover {color: var(--swatch_12);}

.cart-product-options {
    @include index.displayFlex(row, center, center);
    padding: 0 5px 0 5px;

    .separator {
        //margin-top: 5px;
        height: 12px;
        width: 1px;
        background: #c9c9c9;
    }
}


