.profile-general-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ececec;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}