.checkout-item-list {
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: var(--gap);
}

.checkout-item-list div {
    /*border: 1px solid black;*/
    width: 100%;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*gap: var(--gap);*/
    /*margin: 10px;*/
    /*background: var(--baseBgColor);*/
}