.checkout-container-right-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin-top: 10px;*/
}

.help {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.help span {
    padding: 0 15px;
}

.order-summary {
    font-weight: bold;
    font-size: 14px;
}

.order-total {
    color: #b60202;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.shipping-division, .order-total-division {
    display: flex;
    justify-content: flex-end;
}

.shipping-division hr, .order-total-division hr {
    width: 60px;
    background-color: var(--swatch_3);
    border: none;
    height: 1px;
}

.order-total-division hr {
    width: 100%;
}

