$colors: (
        one:     #990033,
        two:     #161623,

        negro:  #020202,
        blanco: #ffffff,
        sombra: #000000
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin displayFlex($justify,$align,$direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@keyframes colorful{
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background: color(two);

  /*scrollbar-width: none;
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }*/
}