@use 'src/scss/index';

.product-general-container-fashion {
    position: relative;
    width: 100%;
    //height: 610px;
    background: #eaeded;

    .product-general-container{
        @include index.displayFlex(column, flex-start, null);
        position: relative;
        overflow: hidden;
        padding: 20px 0;
        margin: 15px;
        //background: rgba(2, 3, 3, 0.28);

        //border-radius: 10px;
        z-index: 4;

        .product-section-title{
            padding: 0 10vw;
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 40px;
            text-transform: capitalize;
        }

        .product-container{
            padding: 0 40px;
            display: flex;
            overflow-x: auto;
            scroll-behavior: smooth;
            gap: 40px;
        }

        .product-container::-webkit-scrollbar{
            display: none;
        }

        /*btn*/
        .pre-btn, .nxt-btn{
            border: 2px solid #d9d9d9;
            color: #8f8f8f;
            font-weight: 700;
            width: 35px;
            position: absolute;
            top: 48%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            transition: 200ms ease-in-out;
            cursor: pointer;
            z-index: 8;

            &:hover {
                background: var(--swatch_10);
                color: #fff;
            }
        }

        .pre-btn{
            left: 0;
        }

        .nxt-btn{
            right: 0;
        }
    }
}