.link {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px 5px 0;
    margin: 0 5px;
    text-decoration: none;
    color: var(--swatch_3);
    opacity: 0.8;
    transition: 200ms ease-in-out;
}

.link:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: var(--swatch_2);
    transition: width .3s;
}

.link:hover:after {
    width: 100% !important;
}

.link:hover {
    color: var(--swatch_6) !important;
}

.active {
    color: var(--swatch_6) !important;
}
