@use 'src/scss/index';

.user-profile-bg {
    @include index.displayFlex(null, center, null);
    width: 100%;
    background: var(--baseBgColor);
    /*height: 100vh;*/

    .user-profile-content {
        @include index.displayFlex(column, null, null);
        /*align-items: center;*/

        border: 1px solid var(--border);
        background: var(--bgColor);
        box-shadow: 5px 5px 10px -10px rgba(101, 98, 98, 0.56);
        //border-radius: 5px;
        padding: 10px 20px;
        margin: 10px 20px;
        max-width: var(--max-width);
        width: 100%;
        gap: 20px;

        .user-profile-title {
            text-align: center;
            margin: 20px;
            font-size: 16px;
            font-weight: bold;
        }

        .user-profile-content-fix {
            @include index.displayFlex(row, null, null);

            .user-profile-left {
                @include index.displayFlex(column, flex-start, null);
                width: 250px;
                /*gap: 15px;*/
                padding: 0;
                border-radius: 5px;
                list-style-type: none;

                li {
                    position: relative;
                    z-index: 15;
                    width: 100%;
                    background: #fff;
                    cursor: pointer;
                    border: 1px solid var(--border);
                    transition: .5s;

                    a {
                        position: relative;
                        z-index: 16;
                        display: block;
                        padding: 10px;
                        text-decoration: none;
                        font-size: 14px;
                        color: #2f2f2f;
                        transition: .5s;
                    }

                    .active {
                        color: var(--swatch_6);
                    }

                    &:hover {
                        background: rgba(31, 32, 33, 0.35);

                        a {
                            color: #eaeaea;
                            padding-left: 10px;
                        }
                    }
                }
            }

            .user-profile-right {
                padding: 15px;
                width: 100%;
            }

            .user-profile-right div + div {
                margin-top: 8px;
            }

            .user-profile-cards div {
                @include index.displayFlex(null, center, center);
                border: 1px solid var(--border);
                border-radius: 5px;
                padding: 20px;
                /*height: 200px;*/
                width: 250px;
            }
        }
    }
}

