.user-profile-bg {
    display: flex;
    justify-content: center;
    /*align-items: center;*/

    width: 100%;
    /*height: 100vh;*/
    background: var(--baseBgColor);

    .user-profile-content {
        display: flex;
        flex-direction: column;
        /*align-items: center;*/

        border: 1px solid var(--border);
        background: var(--bgColor);
        box-shadow: 5px 5px 10px -10px rgba(101, 98, 98, 0.56);
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px 20px;
        max-width: var(--max-width);
        width: 100%;
        gap: 20px;

        .user-profile-title {
            text-align: center;
            margin: 20px;
            font-size: 16px;
            font-weight: bold;
        }

        .user-profile-content-fix {
            display: flex;
            flex-direction: row;

            .user-profile-left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 250px;
                /*gap: 15px;*/
                padding: 0;
                border-radius: 5px;
                list-style-type: none;

                :first-child {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }

                :last-child {
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                li {
                    width: 100%;
                    background: rgba(31, 32, 33, 0.92);
                    padding: 10px;
                    cursor: pointer;
                    border: 1px solid var(--border);
                    transition: .5s;

                    a {
                        display: block;
                        text-decoration: none;
                        font-size: 14px;
                        color: #ECB72DFF;
                        transition: .5s;
                    }

                    .active {
                        color: var(--swatch_6);
                    }

                    &:hover {
                        background: rgba(31, 32, 33, 0.89);

                        a {
                            color: #ECB72DFF;
                            padding-left: 10px;
                        }
                    }
                }
            }

            .user-profile-right {
                padding: 15px;
                width: 100%;
            }

            .user-profile-right div + div {
                margin-top: 8px;
            }

            .user-profile-cards div {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--border);
                border-radius: 5px;
                padding: 20px;
                /*height: 200px;*/
                width: 250px;
            }
        }
    }
}

