@use 'src/scss/index';

.cart-container {
    @include index.displayFlex(null, center, null);
    border: 1px solid var(--border);
    background: var(--baseBgColor);

    .cart-container-fix {
        max-width: var(--max-width);
        width: 100%;

        .cart-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            height: 80px;
            width: 100%;
            padding: 15px;
        }


        ul {
            @include index.displayFlex(row, center, center);
            gap: 20px;
            margin: 10px;
            padding: 0 0 20px 0;

            li {
                width: 25%;
                text-align: center;
                list-style: none;

                a {
                    background: #fff none repeat scroll 0 0;
                    color: #999;
                    display: block;
                    font-weight: 700;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }

        .cart-outlet-container {
            margin: 10px;
        }
    }
}