@use 'src/scss/index';

.cart-container {
    @include index.displayFlex(null, center, null);
    border: 1px solid var(--border);
    background: var(--baseBgColor);

    .cart-container-fix {
        max-width: var(--max-width);
        width: 100%;

        .cart-header {
            @include index.displayFlex(row, center, center);
            height: 80px;
            margin: 10px;
            background: var(--bgColor);
            h4 {
                @include index.h4
            }
        }


        ul {
            @include index.displayFlex(row, center, center);
            gap: 10px;
            margin: 10px 10px 0 10px;
            padding: 0 0 10px 0;
        }

        .cart-outlet-container {
            margin: 0 10px 10px 10px;
        }
    }
}

