@use 'src/scss/index';

.price-formatted-container {
    @include index.displayFlex(null, null, center)
}

.price {
    font-weight: 600;
}

.decimal {
    position: relative;
    font-weight: 600;
    font-size: 12px;
    top: -0.3rem;
}

.currency-symbol {
    position: relative;
    font-weight: 600;
    font-size: 12px;
    top: -0.5rem;
}