@use '../../../../../test/src/index';
$color: #646464;

.price-formatted-container {
    @include index.displayFlex(null, null, center)
}

.price {
    color: $color;
    font-weight: 600;
}

.decimal {
    color: $color;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    top: -0.3rem;
}

.currency-symbol {
    color: $color;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    top: -0.5rem;
}